*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


html,body{
	height: 100%;
}


/**Divs gerais!*/
.container{
	width: 100%;
	max-width: 1200px;
	margin:0 auto;
}

.clear{
	clear: both;
}
/******/

header{
	background-color: #D6D6D6;
	padding:10px 2%;
}

.logo-01{
	float: left;
	width: 150px;
	height: 60px;
	background-image: url('/images/logo1.png');
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: center;
	/*background-color: purple;*/
}

.logo-02{
	float: right;
	width: 160px;
	height: 60px;
	background-image: url('/images/logo2.png');
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: center;
	/*background-color: green;*/
}

@media screen and (max-width: 510px){

	header{
		text-align: center;
	}

	.logo-01,.logo-02{
		margin-top:10px;
		display: inline-block;
		float: none;
	}


}


section{
    width: 75%;
    height: 80%;
    background-image: url('/images/bg-form.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    margin: 0 auto;
    
}

.dados{
    float: right;
    display: inline-block;
}
section h2{
    float: right;
    margin-right: 2% ;
    max-width: 300px;
    background-color: #D6D6D6;;
}

form{
    background-color: white;
}